# Assignment Binary Classification Dataset ANN

## 19R11A05K0 Varun Veesamshetty

https://machinelearningmastery.com/standard-machine-learning-datasets/

## The Boston House Price Dataset involves the prediction of a house price in thousands of dollars given details of the house and its neighborhood.

In [46]:
import numpy as np
import pandas as pd

In [47]:
ds=pd.read_csv("housing.csv")

In [48]:
ds.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,Output
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [49]:
ds.isnull().sum()

A         0
B         0
C         0
D         0
E         0
F         0
G         0
H         0
I         0
J         0
K         0
L         0
M         0
Output    0
dtype: int64

In [50]:
x=ds.drop("Output" , axis = 1)
y=ds.Output

In [51]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split( x , y , test_size = 0.2 , random_state = 10000 )

In [52]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [53]:
from keras.models import Sequential
model = Sequential()
from keras.layers import Dense
model.add(Dense(64 , activation = 'relu', input_dim=13))
model.add(Dense(1))

In [54]:
model.compile(optimizer = 'adam', loss = 'mse', metrics = ['mae'])

In [55]:
model.fit(x_train, y_train, batch_size = 32, epochs = 15, verbose = 1, validation_data = (x_test, y_test))

Train on 404 samples, validate on 102 samples
Epoch 1/15
404/404 [==============================] - 0s 574us/step - loss: 575.5125 - mae: 22.2896 - val_loss: 623.5799 - val_mae: 22.8788
Epoch 2/15
404/404 [==============================] - 0s 59us/step - loss: 551.6854 - mae: 21.8108 - val_loss: 599.7061 - val_mae: 22.4107
Epoch 3/15
404/404 [==============================] - 0s 59us/step - loss: 528.6006 - mae: 21.3279 - val_loss: 574.8890 - val_mae: 21.9186
Epoch 4/15
404/404 [==============================] - 0s 40us/step - loss: 504.0735 - mae: 20.8114 - val_loss: 549.2322 - val_mae: 21.3899
Epoch 5/15
404/404 [==============================] - 0s 40us/step - loss: 478.7512 - mae: 20.2576 - val_loss: 521.6608 - val_mae: 20.8092
Epoch 6/15
404/404 [==============================] - 0s 59us/step - loss: 451.4594 - mae: 19.6375 - val_loss: 492.9477 - val_mae: 20.1788
Epoch 7/15
404/404 [==============================] - 0s 59us/step - loss: 423.1103 - mae: 18.9659 - val_loss: 462.6775 - val_mae: 19.4907
Epoch 8/15
404/404 [==============================] - 0s 59us/step - loss: 393.2631 - mae: 18.2383 - val_loss: 431.6043 - val_mae: 18.7495
Epoch 9/15
404/404 [==============================] - 0s 59us/step - loss: 362.6718 - mae: 17.4429 - val_loss: 399.6579 - val_mae: 17.9434
Epoch 10/15
404/404 [==============================] - 0s 59us/step - loss: 331.9311 - mae: 16.6030 - val_loss: 367.0030 - val_mae: 17.0827
Epoch 11/15
404/404 [==============================] - 0s 40us/step - loss: 301.1029 - mae: 15.7110 - val_loss: 334.4597 - val_mae: 16.1631
Epoch 12/15
404/404 [==============================] - 0s 59us/step - loss: 270.9089 - mae: 14.7600 - val_loss: 302.7100 - val_mae: 15.2086
Epoch 13/15
404/404 [==============================] - 0s 59us/step - loss: 241.4310 - mae: 13.7933 - val_loss: 273.0681 - val_mae: 14.2393
Epoch 14/15
404/404 [==============================] - 0s 59us/step - loss: 214.9645 - mae: 12.8225 - val_loss: 244.3998 - val_mae: 13.2409
Epoch 15/15
404/404 [==============================] - 0s 59us/step - loss: 190.0189 - mae: 11.8918 - val_loss: 218.1748 - val_mae: 12.2730

In [56]:
score = model.evaluate(x_test, y_test , batch_size = 32)

102/102 [==============================] - 0s 78us/step

In [57]:
score

[218.17483759861366, 12.272995948791504]

### Here, score is caluculated using 'mae' - Mean Absolute Error metric