# Assignment Binary Classification Dataset ANN

## 19R11A05K0 Varun Veesamshetty

https://machinelearningmastery.com/standard-machine-learning-datasets/

## The Swedish Auto Insurance Dataset involves predicting the total payment for all claims in thousands of Swedish Kronor, given the total number of claims.

In [8]:
import numpy as np
import pandas as pd

In [9]:
ds=pd.read_csv("auto.csv")

In [10]:
ds.head()

     A  Output
0  108   392.5
1   19    46.2
2   13    15.7
3  124   422.2
4   40   119.4

In [11]:
ds.isnull().sum()

A         0
Output    0
dtype: int64

In [12]:
x=ds.drop("Output" , axis = 1)
y=ds.Output

In [13]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split( x , y , test_size = 0.2 , random_state = 10000 )

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [15]:
from keras.models import Sequential
model = Sequential()
from keras.layers import Dense
model.add(Dense(64 , activation = 'relu', input_dim=1))
model.add(Dense(1))

Using TensorFlow backend.

In [16]:
model.compile(optimizer = 'adam', loss = 'mse', metrics = ['mae'])

In [17]:
model.fit(x_train, y_train, batch_size = 32, epochs = 15, verbose = 1, validation_data = (x_test, y_test))

WARNING:tensorflow:From C:\Users\Varun\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 50 samples, validate on 13 samples
Epoch 1/15
50/50 [==============================] - 0s 4ms/step - loss: 16126.1246 - mae: 98.2311 - val_loss: 20651.5488 - val_mae: 97.4186
Epoch 2/15
50/50 [==============================] - 0s 160us/step - loss: 16118.7981 - mae: 98.2044 - val_loss: 20644.0039 - val_mae: 97.3933
Epoch 3/15
50/50 [==============================] - 0s 160us/step - loss: 16112.4007 - mae: 98.1778 - val_loss: 20636.3848 - val_mae: 97.3677
Epoch 4/15
50/50 [==============================] - 0s 160us/step - loss: 16105.7148 - mae: 98.1515 - val_loss: 20628.6855 - val_mae: 97.3418
Epoch 5/15
50/50 [==============================] - 0s 160us/step - loss: 16098.5913 - mae: 98.1240 - val_loss: 20621.1680 - val_mae: 97.3163
Epoch 6/15
50/50 [==============================] - 0s 159us/step - loss: 16093.0937 - mae: 98.0985 - val_loss: 20613.5312 - val_mae: 97.2906
Epoch 7/15
50/50 [==============================] - 0s 160us/step - loss: 16086.1646 - mae: 98.0727 - val_loss: 20605.9199 - val_mae: 97.2650
Epoch 8/15
50/50 [==============================] - 0s 160us/step - loss: 16079.2794 - mae: 98.0469 - val_loss: 20598.2715 - val_mae: 97.2393
Epoch 9/15
50/50 [==============================] - 0s 160us/step - loss: 16073.5705 - mae: 98.0229 - val_loss: 20590.5000 - val_mae: 97.2134
Epoch 10/15
50/50 [==============================] - 0s 159us/step - loss: 16066.9167 - mae: 97.9973 - val_loss: 20582.7695 - val_mae: 97.1874
Epoch 11/15
50/50 [==============================] - 0s 160us/step - loss: 16060.3378 - mae: 97.9718 - val_loss: 20575.0977 - val_mae: 97.1615
Epoch 12/15
50/50 [==============================] - 0s 159us/step - loss: 16052.8363 - mae: 97.9450 - val_loss: 20567.4766 - val_mae: 97.1355
Epoch 13/15
50/50 [==============================] - 0s 160us/step - loss: 16046.0559 - mae: 97.9195 - val_loss: 20559.7051 - val_mae: 97.1094
Epoch 14/15
50/50 [==============================] - 0s 160us/step - loss: 16039.5912 - mae: 97.8929 - val_loss: 20551.7539 - val_mae: 97.0830
Epoch 15/15
50/50 [==============================] - 0s 160us/step - loss: 16033.1452 - mae: 97.8669 - val_loss: 20543.6660 - val_mae: 97.0563

In [18]:
score = model.evaluate(x_test, y_test , batch_size = 32)

13/13 [==============================] - 0s 0us/step

In [19]:
score

[20543.666015625, 97.05628967285156]

### Here, score is caluculated using 'mae' - Mean Absolute Error metric